{% extends 'base.html.twig' %}
{% block content %}
    <main>

        <h1>Le super blog de la piscine</h1>

        <article>
        <h1><?php echo $article['title']; ?></h1>
        <h2><?php echo $article['content']; ?></h2>
        </article>


    </main>
{% block content %}
