
<head>
<link rel="stylesheet" href="../public/asset/css/style.css"/>
</head>
<header>
    <nav>
        <h3><a href="Contact">Contact</a></h3>
        <h3><a href="seConnecter">Se connecter</h3>
        <h3><a href="liens">Liens</a></h3>
    <img src="../img/vecteur-degrade-logo-colore-oiseau_343694-1365.png">
</nav>
</header>


   